@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
  font-family: AdventureTimeLogo;
  src: url('./pages/fonts/Adventure Time Logo.ttf'), format('Truetype');

}

@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bebas+Neue&family=Chonburi&family=Cormorant+SC:wght@300&family=Cutive&family=Lobster&family=Metrophobic&family=Notable&family=Pacifico&family=Rakkas&family=Rubik+Mono+One&family=Silkscreen:wght@400;700&family=Six+Caps&family=Staatliches&family=Yeseva+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    margin:0;
    background-image: url("https://images8.alphacoders.com/442/442432.jpg");
    background-size: 200%; 
    background-position: center;
    background-attachment: fixed;
}

/* nav styles */
.nav{
    background-color: none;
    color: #029ac3;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;    
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-family: 'Bayon', sans-serif;
    font-size: 1.5rem;
}

.nav li.active{
    color: #ff5edc5b;
    
}

.nav li:hover{
    color: #ad5ceb;
}

.logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* form styles */

.information {
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
}

.charInfo {
    font-weight: regular;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: 'Staatliches', cursive;
}

h4 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: 'Staatliches', cursive;
}

.quotes {
  font-weight: regular;
  font-size: 14px;
  padding: 10px;
}

.card {
    background-color:  #f8f4e5;
    display: inline-flex;
    width: 40vw;
    filter: opacity(90%);
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    border-radius: 2px;
    flex: 50%;
    margin: 40px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
}
/* Home page styles */
.homepage__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer_container {
  background-color: #029ac3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  justify-content: center;
}

label {
  font-family: 'Staatliches';
  font-size: 1.5rem;
}

/* search styles */

.search__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* aboutpage styles */

.about {
    margin: 2rem 0;
    width: 100%;
    display: flex;
  }
  
  .about__title {
    font-size: 2rem;
    margin-left: 1rem;
  }
  
  .about__info {
    width: 900px;
    margin: auto;
    background-color: #95a4ff;
    padding: 50px;
  }
  
  .about__info > p {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
  
  .about__info > div > ul > li {
    margin-left: 2rem;
    padding: 0.5rem;
  }

  li {
    list-style-type: none;
  }

  .profile-pic {
    border-radius: 2px;
    padding: 5px;
  }
  
  .profiles {
    display: flex;
    justify-content: center;
  }

  .person {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

/* NewCharacter page styles */

.new__container{
  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #cd93f9, 15px 15px 1px 2px black;
  opacity: 90%;
  width: 1000px;
  margin: auto;
}

input, textarea {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    font-family: "Fjalla One";
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid black;
    background: #f8f4e5;
    min-width: 100px;
    padding-left: 5px;
    outline: none;
    color: black;
  }
input:focus{
    border-bottom: 5px solid #cd93f9;
}
textarea:focus{
    border-bottom: 5px solid #cd93f9;
}

.form__button{
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #cd93f9;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px black;
  font-family: 'Staatliches';
  
}

.form__button:hover{
    background: #95a4ff;
    color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 1px 1px #cd93f9, 3px 3px 1px 2px black;;

  }
  
::selection {
    background: #ffc8ff;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*random character page styles*/

.random__container{
  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #cd93f9, 15px 15px 1px 2px black;
  opacity: 90%;
  width: 1000px;
  margin: auto;
}


video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn{
  display: flex;
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
  font-family: 'Staatliches', cursive;
}

.btn:hover{
  background: none;
  
  color: #95a4ff;
}

.aboutbtn{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
    text-shadow: #fff, 10px;
    
}

.aboutbtn:hover{
  color: white;
}

.school{
  font-family: 'Staatliches';
  font-size: 1.5rem;
}

.schoolyear {
  padding-left: 10px;
  font-family: 'Staatliches';
}

